<<<<<<< HEAD
%h1 Here are the Latest Requests!
=======
%h1 Latest Requests
>>>>>>> dev
%ul
  %li
    = link_to "Service Requestsss", request_path(request: "service")
  %li
    = link_to "Book Requests", request_path(request: "book")
  %li
    = link_to "Misc Requests", request_path(request: "misc")



