%h1 Latest Requests
%ul
  %li
    = link_to "Service Requests", request_path(request: "service")
  %li
    = link_to "Book Requests", request_path(request: "book")
  %li
    = link_to "Misc Requests", request_path(request: "misc")



