%h1 Here are the Latest Requests!
%ul
  - @requests.each do |request|
    %li
      = link_to request.title, public_request_path(request)
      - if current_user && request.user.name == current_user.name
        %small= link_to "You", account_path
      - else
        %small= request.user.name
